@charset "UTF-8";


/* interaction */

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; } /* 0%는 from 사용 가능 */
  100% { opacity: 1; } /* 100%는 to 사용 가능 */
}

@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s 1; /* Safari 4+ */
  -moz-animation: fadeIn 0.5s 1; /* Fx 5+ */
  -o-animation: fadeIn 0.5s 1; /* Opera 12+ */
  animation: fadeIn 0.5s 1; /* IE 10+, Fx 29+ */
}



.move-up{
    opacity:1;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-animation: moveUp 0.7s;
    -moz-animation: moveUp 0.7s;
    -ms-animation: moveUp 0.7s;
    -o-animation: moveUp 0.7s;
    animation: moveUp 0.7s;

}

@keyframes moveUp {
    from {
        opacity: 0;
        -moz-transform: translate3d(0px, 20px, 0px);
        -webkit-transform: translate3d(0px, 20x, 0px);
        -o-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        transform: translate3d(0px, 20px, 0px);
    }
    to   {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0, 0px);
    }
}


@-moz-keyframes moveUp {
    from {
        opacity: 0;
        -moz-transform: translate3d(0px, 20px, 0px);
        -webkit-transform: translate3d(0px, 20px, 0px);
        -o-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        transform: translate3d(0px, 20px, 0px);
    }
    to   {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0, 0px);
    }
}

@-webkit-keyframes moveUp {
    from {
        opacity: 0;
        -moz-transform: translate3d(0px, 20px, 0px);
        -webkit-transform: translate3d(0px, 20px, 0px);
        -o-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        transform: translate3d(0px, 20px, 0px);
    }
    to   {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0, 0px);
    }
}

@-ms-keyframes moveUp {
    from {
        opacity: 0;
        -moz-transform: translate3d(0px, 20px, 0px);
        -webkit-transform: translate3d(0px, 20px, 0px);
        -o-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        transform: translate3d(0px, 150, 0px);
    }
    to   {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0, 0px);
    }
}

@-o-keyframes moveUp {
    from {
        opacity: 0;
        -moz-transform: translate3d(0px, 20px, 0px);
        -webkit-transform: translate3d(0px, 20px, 0px);
        -o-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        transform: translate3d(0px, 150, 0px);
    }
    to   {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0, 0px);
    }
}

/* .move-up {
    opacity: 0;
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    transition: opacity .3s ease-out, -webkit-transform .5s ease-in-out;
    transition: opacity .3s ease-out, transform .5s ease-in-out;
}

.move-up.in-view {
    opacity: 1;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition-duration: .75s;
} */


.show-effect {
    opacity: 0;
    -moz-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    -moz-transform: translate3d(-20px, 0px, 0px);
    -webkit-transform: translate3d(-20px, 0px, 0px);
    -o-transform: translate(-20px, 0px);
    -ms-transform: translate(-20px, 0px);
    transform: translate3d(-20px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.show-effect.show {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

